@font-face {
    font-family: "Norse-Bold";
    src: url("./fonts/Norse-Bold.otf") format("opentype");
}

:root {
    --accent-color: #596D48;
    --background-color: #F9FAFB;
    --validation-color: #b70000;
    --white: #FFFFFF;

    /* Golden Ratio typographic scale */
    --font-size-0: 0.618rem;
    --font-size-1: 1.000rem;
    --font-size-2: 1.618rem;
    --font-size-3: 2.617rem;
    --font-size-4: 4.236rem;
    --font-size-5: 6.854rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;

    display: flex;
}

.image-sidebar {
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    width: clamp(200px, 38.2%, 640px); /* golden ratio */
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.logo {
    background-color: #00000050;
    color: var(--white);
    font-family: Norse-Bold, sans-serif;
    font-size: 5rem;

    height: 14.6vh;
    padding: 1vh 12vw;
    margin-top: calc(38.2vh - 14.6vh); /* Golden Ratio minus height */ 

    display: flex;
    justify-content: center;
    align-items: center;

    & img {
        height: 100%;
    }
}

.sidebar-footer {
    color: var(--white);
    font-size: 0.8rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: 2vh;

    & a {
        color: var(--white);   
    }
}

.form {
    display: flex;
    flex-direction: column;

    background-color: var(--background-color);

    font-size: 1rem;
}

.form-header {
    padding: 0 4vw;
    margin-top: auto;

    font-size: var(--font-size-2);
    font-weight: 500;
}

.form-body {
    background-color: var(--white);
    box-shadow: 5px 5px 6px 0px #00000025;
    padding: 2vh 4vw 3vh; /* top | left and right | bottom */
    margin: 6vh 0 2vh;

    font-size: var(--font-size-2);
    font-weight: 500;

    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 6vw;

    & label {
        font-size: var(--font-size-0);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        line-height: 1.5;

        display: block;
    }

    & input {
        padding: 0.4rem 0.6rem;
        border: 1px solid #00000025;
        border-radius: 3px;

        font-size: var(--font-size-1);

        display:block;
    }

    & .validation {
        padding: 0;
        margin: 0;
        width: 20em; /* Same as inputs */

        font-size: var(--font-size-0);
        color: var(--validation-color);

        display: none;
    }

    & input:focus {
        outline: 1px solid #0000FF;
        box-shadow: 3px 3px 6px 0px #00000050;
    }

    & input:user-invalid {
        outline: 1px solid var(--validation-color);
    }

    & input:user-invalid + .validation {
        display: block;
    }
}

.form-footer {
    padding: 2vh 4vw;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    gap: 2vh;

    & button {
        width: fit-content;
        padding: 1.5vh 3vw;
        border: none;
        border-radius: 5px;
    
        background-color: var(--accent-color);
        color: #fff;
        font-weight: 600;
    }

    & a {
        color: var(--accent-color);
        text-decoration: none;
        font-weight: 500;
    }
}
